<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dong.BoardMapper">
	
	<resultMap id="dr_reviewMapper" type="kr.co.dong.DTO.Dr_reviewDTO">
      <result column="drnum" property="drnum"/>
      <result column="reviewno" property="reviewno"/>
      <result column="drcontent" property="drcontent"/>
      <result column="drdate" property="drdate"/>
      <collection property="reviewDTO" resultMap="reviewMapper"/>
   </resultMap>
   <resultMap id="reviewMapper" type="kr.co.dong.DTO.ReviewDTO">   
      <result column="reviewno" property="reviewno"/>
      <result column="itemnum" property="itemnum"/>
      <result column="membernum" property="membernum"/>
      <result column="rcontent" property="rcontent"/>
      <result column="rdate" property="rdate"/>
      <result column="rstar" property="rstar"/>
      <result column="reviewlike" property="reviewlike"/>
      <result column="reviewreport" property="reviewreport"/>
      <result column="rstate" property="rstate"/>
      <result column="del" property="del"/>
   </resultMap>

	<resultMap id="orderMapper" type="kr.co.dong.DTO.OrderDTO">
		<result column="buynum" property="buynum"/>
		<result column="cartno" property="cartno"/>
		<result column="addrnum" property="addrnum"/>
		<result column="paymethod" property="paymethod"/>
		<result column="buydate" property="buydate"/>
		<result column="deliverycom" property="deliverycom"/>
		<result column="state" property="state"/>
		<result column="deliveryday" property="deliveryday"/>
		<collection property="cartDTO" resultMap="cartMapper"/>
		<collection property="addressDTO" resultMap="addressMapper"/>
	</resultMap>
	<resultMap id="cartMapper" type="kr.co.dong.DTO.CartDTO">
		<result column="cartno" property="cartno"/>
		<result column="membernum" property="membernum"/>
		<result column="itemnum" property="itemnum"/>
		<result column="iv_itemnum" property="iv_itemnum"/>
		<result column="itemcnt" property="itemcnt"/>
		<result column="cartstate" property="cartstate"/>
	</resultMap>
	<resultMap id="addressMapper" type="kr.co.dong.DTO.AddressDTO">
		<result column="addrnum" property="addrnum"/>
		<result column="membernum" property="membernum"/>
		<result column="delroadaddr" property="delroadaddr"/>
		<result column="deljibunaddr" property="deljibunaddr"/>
		<result column="deldetailaddr" property="deldetailaddr"/>
		<result column="delextraaddr" property="delextraaddr"/>
		<result column="addrstate" property="addrstate"/>
		<result column="delpostcode" property="delpostcode"/>
	</resultMap>
	
	<resultMap id="itemMapper" type="kr.co.dong.DTO.ItemDTO">
		<result column="itemnum" property="itemnum"/>
		<result column="itemname" property="itemname"/>
		<result column="itempay" property="itempay"/>
		<result column="itembuycnt" property="itembuycnt"/>
		<result column="itemdate" property="itemdate"/>
		<result column="itemb" property="itemb"/>
		<result column="items" property="items"/>
		<result column="itemcontent" property="itemcontent"/>
		<result column="rstar" property="rstar"/>
		<collection property="iv_itemDTO" resultMap="ivMapper"/>
		<collection property="imgDTO" resultMap="imgMapper"/>
	</resultMap>
	<resultMap id="ivMapper" type="kr.co.dong.DTO.Iv_itemDTO">
		<result column="iv_itemnum" property="iv_itemnum"/>
		<result column="itemnum" property="itemnum"/>
		<result column="itemsize" property="itemsize"/>
		<result column="itemcolor" property="itemcolor"/>
		<result column="iv_date" property="iv_date"/>
		<result column="itemstate" property="itemstate"/>
	</resultMap>
	<resultMap id="imgMapper" type="kr.co.dong.DTO.ImgDTO">
		<result column="imgnum" property="imgnum"/>
		<result column="itemnum" property="itemnum"/>
		<result column="url" property="url"/>
		<result column="imgname" property="imgname"/>
	</resultMap>
	
	<resultMap id="returnMapper" type="kr.co.dong.DTO.ReturnDTO">
		<result column="returnnum" property="returnnum"/>
		<result column="buynum" property="buynum"/>
		<result column="returncontent" property="returncontent"/>
		<result column="returndate" property="returndate"/>
		<result column="recomdate" property="recomdate"/>
		<result column="state" property="state"/>
		<result column="type" property="type"/>
		<association property="orderDTO" resultMap="orderMapper2"/>
	</resultMap>
	<resultMap id="orderMapper2" type="kr.co.dong.DTO.OrderDTO">
		<result column="cartno" property="cartno"/>
		<result column="addrnum" property="addrnum"/>
		<result column="paymethod" property="paymethod"/>
		<result column="buydate" property="buydate"/>
		<result column="deliverycom" property="deliverycom"/>
		<result column="state" property="state"/>
		<result column="payment" property="payment"/>
		<result column="deliveryday" property="deliveryday"/>
		<collection property="cartDTO" resultMap="cartMapper2"/>
	</resultMap>
	<resultMap id="cartMapper2" type="kr.co.dong.DTO.CartDTO">
		<result column="cartno" property="cartno"/>
		<result column="membernum" property="membernum"/>
		<result column="itemnum" property="itemnum"/>
		<result column="iv_itemnum" property="iv_itemnum"/>
		<result column="itemcnt" property="itemcnt"/>
		<result column="cartstate" property="cartstate"/>
	</resultMap>
	
	

	<select id="adminItem" resultType="ItemDTO">
		select * from item
	</select>
	
	<insert id="adminItemInsert" parameterType="ItemDTO">
		insert into item (itemname,itempay,itembuycnt,itemdate,itemb,items,itemcontent)
		values (#{itemname},#{itempay},0,now(),#{itemb},#{items},#{itemcontent})
	</insert>
	
	<select id="adminItemInsertItemnum" resultType="ItemDTO">
		select itemnum from item
		order by itemnum desc
		limit 1;
	</select>
	
	<insert id="adminItemInsert2" statementType="CALLABLE" parameterType="java.lang.Integer">
		{ CALL insert_iv_items(#{itemnum, mode=IN, jdbcType=INTEGER}) }
	</insert>
	
	<select id="adminItemDetail" resultType="ItemDTO" parameterType="java.lang.Integer">
		select * from item
		where itemnum = #{itemnum}
	</select>
	
	<select id="adminItemDetail2" resultType="Iv_itemDTO" parameterType="java.lang.Integer">
		select * from iv_item
		where itemnum = #{itemnum}
	</select>
	
	<update id="adminItemAdd" parameterType="Iv_itemDTO">
		update iv_item
		set 
			itemcnt = #{itemcnt}, 
			itemstate = 
	            <choose>
	                <when test="itemcnt != null and itemcnt != 0">1</when>
	                <when test="itemcnt == 0">2</when>
	                <otherwise>3</otherwise>
	            </choose>,
	        iv_date = curdate()
		where iv_itemnum = #{iv_itemnum}
	</update>
	
	<update id="adminItemUpdate" parameterType="ItemDTO">
		update item
		set itemname = #{itemname},
			itempay = #{itempay},
			itemdate = #{itemdate},
			itemb = #{itemb},
			items = #{items},
			itemcontent = #{itemcontent}
		where itemnum = #{itemnum}
	</update>
	
	<select id="adminMember" resultType="MemberDTO">
		select * from member
		where authority != 0
	</select>
	
	<select id="adminMemberDetail" resultType="MemberDTO" parameterType="java.lang.Integer">
		select * from member
		where membernum = #{membernum}
	</select>
	
	<update id="adminMemberUpdate" parameterType="MemberDTO">
		update member
		set name = #{name},
			email = #{email},
			tel = #{tel},
			birth = #{birth},
			roadaddr = #{roadaddr},
			jibunaddr = #{jibunaddr},
			detailaddr = #{detailaddr},
			extraaddr = #{extraaddr},
			postcode = #{postcode},
			state = #{state},
			authority = #{authority},
			gender = #{gender}
		where membernum = #{membernum}
	</update>
	
	<update id="adminMemberDelete">
		update member
		set id = null,pw = null,name = null,email = null,tel = null,birth = null,point = null,pointac = null,roadaddr = null,jibunaddr = null,
			detailaddr = null,extraaddr = null,postcode = null,joindate = null,state = null,authority = null,gender = null,agree = null
		where membernum = #{membernum}
			
	</update>
	
	<select id="adminHelp" resultType="HelpDTO">
		select * from help_board
	</select>
	
	<select id="adminHelpDetail" resultType="HelpDTO" parameterType="java.lang.Integer">
		select * from help_board
		where hno = #{hno}
	</select>
	
	<update id="adminHelpUpdate" parameterType="HelpDTO">
		update help_board
		set recomment = #{recomment}, rehdate = now(), state = 2
		where hno = #{hno}
	</update>
	
	<select id="adminOrder" resultMap="orderMapper">
		select O.buynum, O.cartno, O.addrnum, O.paymethod, O.buydate, O.deliverycom, O.state, O.deliveryday, 
			C.membernum, C.itemnum,C.iv_itemnum, C.itemcnt, A.delroadaddr,A.addrstate, A.deldetailaddr
        from dv_order O 
        join cart C on O.cartno=C.cartno
		join address A on O.addrnum=A.addrnum
		where O.state not in(5,6,7) 
	</select>
	
	<select id="adminReturn" resultMap="returnMapper">
		select I.returnnum,I.buynum,I.returndate,I.recomdate,I.state,I.type,O.cartno,O.addrnum,O.paymethod,O.buydate,O.payment
		from itemreturn I, dv_order O
		where I.type = 1
	</select>
	
	<select id="adminReturnDetail" parameterType="java.lang.Integer" resultMap="returnMapper">
		select I.returnnum,I.buynum,I.returncontent,I.returndate,I.recomdate,I.state,I.type,O.cartno,O.addrnum,O.paymethod,O.buydate,O.payment
		from itemreturn I, dv_order O
		where type = 1 and returnnum = #{returnnum}
	</select>
	
	<update id="adminReturnDetail2" parameterType="java.lang.Integer">
		update itemreturn I 
		join dv_order O on I.buynum = O.buynum
		set I.state = 2, O.state = 7, I.recomdate = now()
		where I.type = 1 and returnnum = #{returnnum}
	</update>
	
	<select id="adminExchange" resultMap="returnMapper">
		select I.returnnum,I.buynum,I.returndate,I.recomdate,I.state,I.type,O.cartno,O.addrnum,O.paymethod,O.buydate,O.payment
		from itemreturn I, dv_order O
		where I.type = 2
	</select>
	
	<select id="adminExchangeDetail" parameterType="java.lang.Integer" resultMap="returnMapper">
		select I.returnnum,I.buynum,I.returncontent,I.returndate,I.recomdate,I.state,I.type,O.cartno,O.addrnum,O.paymethod,O.buydate,O.payment
		from itemreturn I, dv_order O
		where type = 2 and returnnum = #{returnnum}
	</select>
	
	<update id="adminExchangeDetail2" parameterType="java.lang.Integer">
		update itemreturn I 
		join dv_order O on I.buynum = O.buynum
		set I.state = 2, O.state = 2, I.recomdate = now(), O.deliveryday = now() + interval 3 day
		where I.type = 2 and returnnum = #{returnnum}
	</update>
	
	<select id="adminReview" resultMap="dr_reviewMapper">
		select D.drnum, R.reviewno, R.itemnum, D.drdate
		from dr_review D, review R
		where D.reviewno = R.reviewno
	</select>
</mapper>